USE [master]
GO
/****** Object:  Database [UploadImage]    Script Date: 18-11-2020 22:37:42 ******/
CREATE DATABASE [UploadImage]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UploadImage', FILENAME = N'G:\SQL\MSSQL14.MSSQLSERVER\MSSQL\DATA\UploadImage.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UploadImage_log', FILENAME = N'G:\SQL\MSSQL14.MSSQLSERVER\MSSQL\DATA\UploadImage_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UploadImage].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UploadImage]
GO
/****** Object:  Table [dbo].[TblImage]    Script Date: 18-11-2020 22:37:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Image] [image] NULL,
 CONSTRAINT [PK_TblImage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TblImage] ON 

INSERT [dbo].[TblImage] ([Id], [Title], [Image]) VALUES (1, N'adsa', 0x473A5C35383831302E6A7067)
SET IDENTITY_INSERT [dbo].[TblImage] OFF
USE [master]
GO
